/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 110%;
	vertical-align: baseline;
	background: transparent;
	color:#333;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ! Default styles */

:focus { outline: 1px dotted #999; }
a { border-bottom: 1px solid #000; color: #000; text-decoration: none; }
a:focus, a:hover { border-bottom-color: #999; color: #999; }
a abbr { border-bottom-style: none; }
abbr { border-bottom: 1px dotted #000; cursor: help; }
blockquote { margin: 20px 0; padding: 10px; }
blockquote, tr:nth-child(even) td { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); border-bottom: 1px solid #ccc; text-shadow: 0 1px 0 #fff; }
body { background-color: #fff;}
body, input, textarea { font: 14px/1 "Lucida Grande", "Lucida Sans", Arial, Helvetica, sans-serif; }
dd, dt, h3, h4, li, p { line-height: 20px; }
dt, h1, h2, h3, h4, th { font-family: "Helvetica Neue", Helvetica, verdana, "bitstream vera sans", sans-serif; font-weight: normal; letter-spacing: 1px; text-transform: uppercase; }
em { font-style: italic; }
h1 { font-size: 29px; line-height: 35px; margin-bottom: 5px; }
h2 { font-size: 21px; line-height: 25px; margin-bottom: 15px; }
h3 { font-size: 19px; line-height: 21px; margin: 20px 0 19px 0; }
input[type=email], input[type=search], input[type=text], input[type=url], input:not([type]), textarea { background-color: #fff; border: 1px inset #ccc; color: #000; cursor: text; padding: 5px; width: 20em; }
input[type=submit] { cursor: pointer; }
kbd, pre { font: 14px/1 consolas, "lucida console", monaco, monospace; }
label { clear: both; float: left; margin-top: 5px; width: 175px; }
li ol { list-style-type: none; }
li ol, li ul { margin-bottom: 0; margin-top: 0; }
ol { list-style-type: decimal; }
ol, ul { margin: 20px 0 20px 0; }
p + p { margin-top: 20px; }
table { margin: 20px 0; }
td { line-height: 15px; }
td, th { padding: 10px; vertical-align: top; }
th { text-align: left; }
thead { background-color: #000; color: #fff; }
tr { border-color: #eee; border-style: solid; border-width: 1px 0; }
tr:nth-child(even) { border-bottom-color: #ccc; }
ul { list-style-type: none; }

body, input, textarea { font-size: 11px; }
dt, h1, h2, h3, h4 { letter-spacing: normal; text-transform: none; }
h1 { font-size: 21px; line-height: 23px; margin-bottom: 17px; }
h2 { font-size: 19px; line-height: 21px; margin-bottom: 19px; }
h3 { font-size: 17px; line-height: 19px; margin: 0 0 21px 0; }
h4 { font-size: 15px; line-height: 17px; margin-bottom: 3px; }
kbd, pre { font-family: monospace; }
label { float: none; margin: 0; width: auto; }
table { border-color: #ccc; border-style: solid; border-width: 0 1px; width: 100%; }
th { background-color: #000; color: #fff; }
tr:nth-child(even) td { background: none; text-shadow: none; }
tr:nth-child(odd) td { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); border-bottom: 1px solid #ccc; text-shadow: 0 1px 0 #fff; }

#content { margin: 20px 10px; }

#header { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); border-color: #ddd; border-style: solid; border-width: 0 1px 1px 1px; padding: 10px; text-shadow: 0 1px 0 #fff; }
#header:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
#header h1 {  }
label { text-decoration: none; }
#buttons, #notification { margin-top: 20px; }
#header h1 { margin-bottom: 0; }
#notification { max-width: 500px; }
div#main {padding:16px;}